*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  color: #e2fb00;
  font-size: 50px;
}
p{
  font-size: 20px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 931px;
  background: #6563ff;
}

.wrapper{
  padding: 250px 500px;
  margin-right: 50px;
  background: #e83535;
  border-radius: 10px;
  box-shadow: 0 10px 30px black;
 
}
.cards, .card, .view, .details, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 350px;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 100px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
.cards .card .view{
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px black;
}
.card .front-view img{
  max-width: 17px;
}
.card .back-view{
  transform: rotateY(-180deg); /* rotateY() a transformation that rotates an element around axis vertical without deforming */
}
.card .back-view img{
  max-width: 40px;
}
.card.true .front-view{
  transform: rotateY(180deg);
}
.card.true .back-view{
  transform: rotateY(0);
}

.details{
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px black;
}
.details p{
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 8px;
}
.details p b{
  font-weight: 500;
}
.details button{
  cursor: pointer;
  font-size: 14px;
  color: #6563ff;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #6563ff;
  
}
.details button:hover{
  color: #fff;
  background: #f70000;
}

 
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    max-width: 200px;
  }
  .card .back-view img{
    max-width: 200px;
  }


  .cards{
    height: 900px;
    width: 900px;
  }
  .card .back-view img{
    max-width: 35px;
  }
  .details{
    margin-top: 20px;
    padding: 15px;
    height: calc(40% / 4 - 20px);  /* calc() for take specific angel or percentage number value*/ 
  }
  .details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details button{
    font-size: 25px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: green;
  }

