body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://st2.depositphotos.com/33704592/48552/i/600/depositphotos_485526154-stock-photo-abstract-glow-light-color-hexagonal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 50px;
}

.logo {
  width: 300px;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius:50px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: greenyellow;
}

.rating {
  display: flex;
  gap: px;
  margin-bottom: 20px;
  color: #fff;
}

.result {
  background-color:black;
  color: gold;
}

.heart {
  width: 30px;
  height: 30px;
  background: url('https://www.hubpng.com/files/preview/800x755/png-transparent-heart-clipart-black-and-white-outline-white-love-11679443393y8rcmztm7eewlxahkefqdtr9tw4xuvvyyurzatuppevkudtcedzal9sv0ips8lh8f4tlygtpbkldxnjwgra5p.png') no-repeat; /* Change to white heart image */
  background-size: cover;
  cursor: pointer;
}

.heart.filled {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/800px-Heart_coraz%C3%B3n.svg.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 50px;
}